* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#header {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
}
#select {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 24px;
  font-size: 25px;
  align-items: center;
}
#type {
  color: #fff;
  background: #3f475d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  font-size: 21px;
  border-radius: 4px;
}

.App {
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  background: #edeef1;
}

.container {
  max-width: 580px;
  margin: auto;
}

.accordion {
  max-width: 640px;
  margin: 18px auto;
  color: #fff;
}

.accordionHeading {
  background: #3f475d;
  padding: 14px 0;
}

.accordionHeading .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordionHeading p {
  letter-spacing: 1.2px;
  font-weight: 600;
}

.accordionHeading span {
  cursor: pointer;
}

.accordionContent {
  background: #383a7f;
  height: 0;
  opacity: 0;
  display: flex;
  overflow: hidden;
  transition: all 600ms ease-in-out;
}

.accordionContent.show {
  height: 200px;
  opacity: 1;
}

.accordionContent p {
  font-size: 15px;
  line-height: 1.6;
}
@media (max-width: 768) {
  .container {
    max-width: 320px;
    margin: auto;
  }

  .accordion {
    max-width: 340px;
    margin: 12px auto;
    color: #fff;
  }
  .accordionContent.show {
    height: 250px;
    opacity: 1;
  }
}
